<div class="wrap_home">
    <div class="login_wrap">
        <div class="login_up">
            <div class="not_members">
                <p>{{'ladorian-login-does-not-member' | translate }}</p>
                <ladorian-btn class="bold-600" type="default" color="primary">{{'ladorian-login-register' | translate}} </ladorian-btn>
            </div>
            <div class="login_logo">
                <img src="assets/img/logo.svg" alt="logo">
            </div>
        </div>
        <div class="login_down">
            <h1>{{'ladorian-login-log-in' | translate}}</h1>
            <span class="welcome">{{'ladorian-login-welcome' | translate}} </span>
            <div class="logo_google">
                <img src="assets/img/google-logo.svg" alt="logo google">
            </div>
            <div class="label_cotinue">
                <span>{{'ladorian-login-continue-mail' | translate}}</span>
            </div>
            <form action="">
                <div class="wrap_input">
                    <ladorian-input placeholder="{{'ladorian-core-input-mail' | translate}}" [required]="true" type="email"></ladorian-input>
                </div>
                <div class="wrap_input">
                    <ladorian-input placeholder="{{'ladorian-core-input-password' | translate}}" [required]="true" type="password"></ladorian-input>
                </div>
                <div class="form_down">
                    <ladorian-checkbox [value]="false" label="{{'ladorian-app-remember' | translate}}"></ladorian-checkbox>
                    <ladorian-btn type="default" color="primary">{{'ladorian-login-forgot' | translate}}</ladorian-btn>
                </div>
                <ladorian-btn type="filled" color="primary" class="bold-700">{{'ladorian-core-btn-loging' | translate}} </ladorian-btn>
            </form>
        </div>

    </div>
    <div class="sliders">
        <ladorian-slider></ladorian-slider>
    </div>
</div>