/* You can add global styles to this file, and also import other style files */


:root {
    --color-primary: #439E37;
    --color-secondary: #D2D5D4;
    --color-warning: #F43D15;
    --color-text: #C3C5C3;
    --color-placeholder: #AAADA9;
    --color-border: #EAEBEB;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
}
body {
    font-size: 14px;
    font-family: 'DM Sans', sans-serif;
    color: var(--color-text);
}